body {
  background-color: #ffffff; /* black background */
  color: #000000; /* white text */
  font-family: sans-serif; /* Use a friendly font */
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 50px;
  margin: 1em 0; /* Add some space around headings */
}

hr {
  border: 1px solid #ddd; /* Thin grey line separating sections */
  margin: 1em 0;
}

.contact-form label {
  display: block; /* Align labels next to input fields */
  margin-bottom: 5px;
}

.contact-form input, textarea {
  display: block;
  width: 100%; /* Make input fields fill the available space */
  padding: 10px;
  border: 1px solid #5c5c5c;
  border-radius: 4px; /* Add subtle rounded corners */
}

.contact-form button {
  background-color: #ffffff; /* Use the same white for the button */
  color: #5c5c5c; /* White text for good contrast */
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #979797; /* Darken the white on hover */
}


/* You can add more styles for different elements as needed */

body {
  font-family: Arial;
  text-align: left;
}
h1 {
  margin-top: 40px;
margin-left: 60px
}
p {
  margin-top: 300px;
margin-left: 60px
}
img{
  width:70;
  height:600; 
  box-align:right;
}