<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>APLE | Welcome</title>
        <!-- {% load static %} -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static ' ' %}"/> -->
    </head>
    <body>
        <div class="mini-navbar"> <!-- small navbar that is only present in the landing page -->
        <!-- need an "About Us" and "Our Project" link -->
            <a href="" class="navbar-item">About Us</a>
            <a href="" class="navbar-item">Our Project</a>
        </div>

        <div class="message-container">
            <h1>APLE</h1>
            <!-- below is a placeholder message -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="button" href="{% url "product-home" %}"><button type="button">SHOP NOW</button></a>
        </div>
    </body>
</html>
<!-- This page doesn't really need to extend any templates since its format is one-of-a-kind on the site. -->
