{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "products/landing.css" %}">
{% endblock %}

{% block page_title %}
APLE | Welcome
{% endblock %}

{% block content %}
<div class="navbar"> <!-- small navbar that is only present in the landing page -->
    <!-- need an "About Us" and "Our Project" link -->
        <a href="{% url "about-us" %}" class="navbar-item">ABOUT US</a>
        <a href="{% url "our-project" %}" class="navbar-item">OUR PROJECT</a>
    </div>

    <hr class="divider"> 

    <div class="content-container">

        <div class="message-container">
            <p class="site-name">APLE</p>
            <!-- below is a placeholder message -->
             <div class="subtext">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
            
            <a class="button" href="{% url "product-home" %}"><button type="button">SHOP NOW</button></a>
        </div>

        <div class="apples">
            <div class="apple-row">
                <img src="{% static "products/images/EmpireApple.png" %}" alt="Empire Apple">
                <img src="{% static "products/images/CortlandApple.png" %}" alt="Cortland Apple">
                <img src="{% static "products/images/GoldenDelicious.png" %}" alt="Golden Delicious">
                <img src="{% static "products/images/GrannySmith.png" %}" alt="Granny Smith">
            </div>
            <div class="apple-row">
                <img src="{% static "products/images/GrannySmith.png" %}" alt="Granny Smith">
                <img src="{% static "products/images/EmpireApple.png" %}" alt="Empire Apple">
                <img src="{% static "products/images/CortlandApple.png" %}" alt="Cortland Apple">
                <img src="{% static "products/images/GoldenDelicious.png" %}" alt="Golden Delicious">
            </div>
            <div class="apple-row">
                <img src="{% static "products/images/GoldenDelicious.png" %}" alt="Golden Delicious">
                <img src="{% static "products/images/GrannySmith.png" %}" alt="Granny Smith">
                <img src="{% static "products/images/EmpireApple.png" %}" alt="Empire Apple">
                <img src="{% static "products/images/CortlandApple.png" %}" alt="Cortland Apple">
            </div>
        </div>

    </div>
{% endblock %}
