{% load static %} <!-- take CSS made by Andrew and link it here! -->

<!-- things that change: product images, product name, price -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}{% endblock %}</title> <!-- page title depends on what page you're on -->
    </head>

    {% block css_files %} <!-- for CSS files that the page will rely on -->

    {% endblock %}

    <!-- put navbar INLCUDES here -->

    <body>
        {% block content %}

        {% endblock %}
        <!-- every product page follows the same layout, EXCEPT the photo & name changes -->
        <br>
        <div class="spacer">
        </div>
        <br>
        <section class="page-container">
            <div class="image">
                {% block product_img %}{% endblock %} <!-- put an image here, like: <img src="Images/CortlandApple.png" alt="Cortland Apple"> -->
            </div>

            <div class="main-text">
                <h1 class="apple-name">{% block apple_name %}{% endblock %}</h1> <!-- plug in product name for every template made -->
            
                <div class="info-row">
                    <div class="rating-price">
                    <div class="rating">★★★★★</div>
                    <div class="price">$20.00 / box</div>
                    </div>
            
                    <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.           </p>
                    </div>
                </div>
        
                <div class="buttons">
                    <button class="btn">ADD TO CART</button>
                    <button class="btn">BUY NOW</button>
                </div>
            </div>
        </section>
        <hr class="divider">  
    </body>
</html>
