<!DOCTYPE html>
<!-- main navbar that will be present on most pages -->
 
<div class="navbar">
    <a href="" class="navbar-home">APLE</a>
    <a href="" class="navbar-item">About Us</a>
    <a href="" class="navbar-item">Our Project</a>

    <!-- icons will be present in the navbar that are links to the Cart and Admin Panel -->
    <a href="" class="navbar-item"><img src="" alt="Cart" style="width:42px;height:42px;"></a>
    <a href="" class="navbar-item"><img src="" alt="Admin Panel" style="width:42px;height:42px;"></a>
</div>