<!-- main navbar that will be present on most pages -->
{% load static %} <!-- you must type this every time you want to link a CSS file, otherwise an error will occur -->

<link rel="stylesheet" type="text/css" href="{% static 'products/navbar.css' %}"/>

<div class="nav">
    <div class="home-link">
        <a href="{% url "product-home" %}"><b>APLE</b></a>
    </div>

    <div class="nav-links-container">
        <a href="{% url "about-us" %}">ABOUT US</a>
        <a href="{% url "our-project" %}">OUR PROJECT</a>
    </div>

    <div class="nav-links-container">
        <a href="{% url "about-us" %}">CART</a>
        <a href="{% url "our-project" %}">ADMIN</a>
    </div>
</div>
